*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background: #81ecec;
    color: #028b89;
} */

.menu{
    border-radius: 50%;
    bottom: 25px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 25px;
    transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
    width: 40px;
    z-index: 2;
}

/*PARA TELA DESKTOP*/
/* .menu:hover{
    box-shadow: 0 0 0 8px #000, 0 0 0 8px #000;
} */

.hamburguer{
    position: relative;
    left: 10px;
    top: 20px;
    width: 20px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

.hamburguer::before, 
.hamburguer::after{
    background: #000;
    content: "";
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburguer::before{
    top: -8px;
}

.hamburguer::after{
    bottom: -8px;
}

input{
    display: none;
}

/*Animação do menu*/
input:checked ~ label .menu {
    box-shadow: 0 0 0 200vw #F49F0A, 0 0 200vh #F49F0A;
    background: #F49F0A;
}

/*Movimentação para o ícone do menu (hamburguer)*/
input:checked ~ label .hamburguer{
    transform: rotateZ(45deg);
    background: #000;
}

input:checked ~ label .hamburguer::before{
    top: 0px;
    transform: rotateZ(90deg);
    background: #000;
}

input:checked ~ label .hamburguer::after{
    bottom: 0px;
    transform: rotateZ(90deg);
    background: #000;
}

/*Estilo do menu*/

/*Estilizando a lista*/
ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 45px;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    visibility: hidden;
    z-index: 2;
}

input:checked ~ label .ul{
    opacity: 1;
    visibility: visible;
}

/*Estilizando o item*/ 
/* a{
    color: #000;
    display: block;
    margin-bottom: 1em;
    text-decoration: none;

} */


















