.container { margin-top: 10%; }

h5 { color: grey; }

hr {
    border: 0;
    background-image: linear-gradient(
        to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)
    );

    height: 1px;
} 

.btn {
    width: 100%;
    background-color: #efca08;
}

/* .row{
    line-break: 5%;
} */

.card{
    margin-top: 5%;
    /* margin-bottom: 5%; */
}