.container { margin-top: 75px; }

h5 { color: grey; }

hr {
    border: 0;
    background-image: linear-gradient(
        to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)
    );

    height: 1px;
} 

/* .card{
    width: 18rem;
} */

